<form class="{{cssClass}}" autocomplete="off" id="sheet">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"></h1>
            <div class="flexblock-left ">
                <div class="col-1-2">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    <div class="flexblock-left">
                        <label class="label-free boldtext">MOD</label>
                        <input class="input-min" type="text" name="data.mod" value="{{data.mod}}">

                        {{#advShow}}
                        <a class="roll-mode boldtext" title="Roll mode"><i>{{data.rollmode}}</i></a>
                        {{/advShow}}

                        {{#showRoller}}
                        <a class="roll-free" title="Roll mode"><i class="fas fa-dice-d20"></i></a>
                        {{/showRoller}}

                        {{#if actor.data.selector}}
                        <a class="mod-selector" title="Select Options"><i class="fas fa-exclamation-circle fa-2x"></i></a>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>

                <div class="rightblock">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    {{#isGM}}
                    <select class="selectsheet" name="data.gtemplate" data-type="String">
                        <!--
{{#select actor.data.gtemplate}}
{{#each data.sheets as |gtemplate id|}}
<option  value="{{gtemplate}}">{{gtemplate}}</option>
{{/each}}
{{/select}}
-->
                    </select>
                    {{/isGM}}
                    {{/if}}
                    {{#isGM}}


                    <h3 class="rightblock-element">Template</h3>
                    <input class="check-istemplate" name="data.istemplate" id="check-istemplate" type="checkbox" {{checked actor.data.istemplate}}="">


                    {{/isGM}}

                    {{#if actor.data.istemplate}}
                    <h3 class="rightblock-element-tag">Rebuild Sheet</h3>
                    <a class="rightblock-element item-refresh" title="Rebuild Sheet"><i class="fas fa-sync"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <a class="tab-prev" id="tab-prev">❮</a>
        <nav class="sheet-tabs tabs" data-group="primary" id="tabs" tabs="5">

            <a class="item tab-button" data-tab="description" id="tab-0">Bio</a>          
            <a class="item tab-button" id="tab-1" data-tab="stats_tab">Identidad</a><a class="item tab-button" id="tab-2" data-tab="attributes_tab">Atributos</a><a class="item tab-button" id="tab-3" data-tab="conocimientos_tab">Conocimientos</a><a class="item tab-button" id="tab-4" data-tab="talentos_tab">Talentos</a><a class="item tab-button" id="tab-5" data-tab="equipo_tab">Equipo</a><a style="display: none" id="tab-last"></a>
            {{#isGM}}
            <a class="item tab-button" data-tab="citems" id="tab-citems">cItems</a>
            {{#if actor.data.istemplate}}
            <a class="item tab-button" data-tab="token" id="tab-token">Token</a>
            <a class="item tab-button" data-tab="config" id="tab-tabs">Tabs</a>
            {{/if}}
            {{/isGM}}

        </nav>
        <a class="tab-next" id="tab-next">❯</a>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body" id="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active scrollable" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{#if actor.data.istemplate}}
        {{!-- SheetTabs Tab --}}
        <div class="tab properties" data-group="primary" data-tab="config">
            <ol class="properties-list">
                {{#each data.tabs as |tab id|}}
                <li class="property flexrow" data-item-id="{{id}}">
                    <h4 class="property-name">{{tab.name}}</h4>
                    <div class="property-row">
                        <a class="property-controls item-top" title="Top Item"><i class="fas fa-arrow-alt-circle-up"></i></a>
                        <a class="property-controls item-bottom" title="Bottom Item"><i class="fas fa-arrow-alt-circle-down"></i></a>
                        <a class="property-control item-edit" title="Edit Tab"><i class="fas fa-edit"></i></a>
                        <a class="property-control item-delete" title="Delete Tab"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Token Tab --}}
        <div class="tab token scrollable" data-group="primary" data-tab="token">
            <div class="flexblock">
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Bar 1</label>
                            <input class="token-bar1" type="text" name="data.tokenbar1" value="{{data.tokenbar1}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Shield Stat</label>
                            <input class="token-shieldstat" type="text" name="data.shieldstat" value="{{data.shieldstat}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Display Name</label>
                            <select class="token-displayName" name="data.displayName" data-type="String" tkvalue="NONE">
                                {{#select actor.data.displayName}}
                                <option value="NONE">NONE</option>
                                <option value="CONTROL">CONTROL</option>
                                <option value="OWNER_HOVER">OWNER HOVER</option>
                                <option value="HOVER">HOVER</option>
                                <option value="OWNER">OWNER</option>
                                <option value="ALWAYS">ALWAYS</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/if}}

        {{!-- cItems Tab --}}
        <div class="tab citems scrollable" data-group="primary" data-tab="citems">
            <ol class="properties-list">
                {{#each data.citems as |citem cid|}}
                <li class="property flexrow" data-item-id="{{cid}}">
                    <h4 class="property-name">{{citem.name}}</h4>
                    <div class="property-row">
                        <a class="property-control citem-edit" title="Edit cItem"><i class="fas fa-edit"></i></a>
                        <a class="property-control citem-delete" citemid="{{citem.id}}" title="Delete cItem"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>



    <div class="tab scrollable stats_tab_tab" id="stats_tab_Def" data-group="primary" data-tab="stats_tab"><div class="new-column" id="stats_tabBody"><div class="new-block" id="stats_tabrow0"><div class="col-2-3"><div class="panelheader">Identidad</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-med boldtext" id="nombre_label" attid="lS94unS1NxVrKkn2">Nombre</h3><input name="data.attributes.name_info.value" value="{{data.attributes.name_info.value}}" type="text" class="input-free name_info" attid="jiEPoyFxmSbYC8vo"></div><div class="flexblock-left"><h3 class=" label-med boldtext" id="raza_label" attid="SBEI0smsODepP4SE">Raza</h3><input name="data.attributes.raza_info.value" value="{{data.attributes.raza_info.value}}" type="text" class="input-free raza_info" attid="qW1q2Dl6TTAAbNR6"></div><div class="flexblock-left"><h3 class=" label-med boldtext" id="Arquetipo" attid="PpO6VOiTX9ymDPkx">Arquetipo</h3><input name="data.attributes.arquetipo_info.value" value="{{data.attributes.arquetipo_info.value}}" type="text" class="input-free arquetipo_info" attid="77waSNgTgBGN5KVe"></div><div class="flexblock-left"><h3 class=" label-med boldtext" id="calificativo_label" attid="BijgZ5JjEBxiESPa">Calificativo</h3><input name="data.attributes.calificativo_info.value" value="{{data.attributes.calificativo_info.value}}" type="text" class="input-free calificativo_info" attid="bp14STPOwgl564m9"></div></div></div><div class="col-1-3"><div class="panelheader">Experiencia y Renombre</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-medlarge" id="renombre_singastar_attr" attid="gEH0pOM5GzG3dwht">Renombre</h3><input name="data.attributes.renombre_singastar_attr.value" value="{{data.attributes.renombre_singastar_attr.value}}" type="text" class="input-min renombre_singastar_attr" attid="gEH0pOM5GzG3dwht"></div><div class="flexblock-left"><h3 class=" label-medlarge" id="renombre_gastado_attr" attid="RJUnEXlPxYjHuDjC">Renombre (Gastado)</h3><input name="data.attributes.renombre_gastado_attr.value" value="{{data.attributes.renombre_gastado_attr.value}}" type="text" class="input-min renombre_gastado_attr" attid="RJUnEXlPxYjHuDjC"></div><div class="flexblock-left"><h3 class=" label-medlarge" id="renombre_total_attr" attid="c0NxqNDnbBwmRSRf">Renombre Total</h3><input name="data.attributes.renombre_total_attr.value" value="{{data.attributes.renombre_total_attr.value}}" type="text" class="input-min renombre_total_attr inputGM" attid="c0NxqNDnbBwmRSRf"></div><div class="flexblock-left"><h3 class=" label-medlarge boldtext" id="experiencia_attr" attid="pxP1Qm3aoSfvtLvh">Experiencia</h3><input name="data.attributes.experiencia_attr.value" value="{{data.attributes.experiencia_attr.value}}" type="text" class="input-min experiencia_attr inputGM" attid="pxP1Qm3aoSfvtLvh"></div></div></div></div><div class="new-block" id="stats_tabrow1"><div class="col-1-1"><div class="panelheader">Defecto</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-small defecto_attr" name="data.attributes.defecto_attr.value" attid="KhTEiNSJjmWUZ6I3">{{data.attributes.defecto_attr.value}}</textarea></div></div></div></div><div class="new-block" id="stats_tabrow2"><div class="col-2-3"><div class="panelheader">Renombre, titulos y aliados</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med renombre_titulos_attr" name="data.attributes.renombre_titulos_attr.value" attid="T5G5dwzU82zk8cCc">{{data.attributes.renombre_titulos_attr.value}}</textarea></div></div></div><div class="col-1-3"><div class="panelheader">Notas</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med notas_attr" name="data.attributes.notas_attr.value" attid="ZcTsSTY7NiT2JhJP">{{data.attributes.notas_attr.value}}</textarea></div></div></div></div></div></div><div class="tab scrollable attributes_tab_tab" id="attributes_tab_Def" data-group="primary" data-tab="attributes_tab"><div class="new-column" id="attributes_tabBody"><div class="new-block" id="attributes_tabrow2"><div class="col-1-3"><div class="panelheader">Atributos</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-medlarge boldtext" id="astucia_attr" attid="HCB4oNJpVu0M9DLg">Astucia</h3><input name="data.attributes.astucia_attr.value" value="{{data.attributes.astucia_attr.value}}" type="text" class="input-min astucia_attr" attid="HCB4oNJpVu0M9DLg"></div><div class="flexblock-left"><h3 class=" label-medlarge boldtext" id="osadia_attr" attid="5lOLOZOt41x6UoOO">Audacia</h3><input name="data.attributes.osadia_attr.value" value="{{data.attributes.osadia_attr.value}}" type="text" class="input-min osadia_attr" attid="5lOLOZOt41x6UoOO"></div><div class="flexblock-left"><h3 class=" label-medlarge boldtext" id="empatia_attr" attid="46MTYIHGFhmONjAa">Empatía</h3><input name="data.attributes.empatia_attr.value" value="{{data.attributes.empatia_attr.value}}" type="text" class="input-min empatia_attr" attid="46MTYIHGFhmONjAa"></div><div class="flexblock-left"><h3 class=" label-medlarge boldtext" id="fortaleza_attr" attid="c59JPHXVsS4tgepP">Fortaleza</h3><input name="data.attributes.fortaleza_attr.value" value="{{data.attributes.fortaleza_attr.value}}" type="text" class="input-min fortaleza_attr" attid="c59JPHXVsS4tgepP"></div><div class="flexblock-left"><h3 class=" label-medlarge boldtext" id="pasion_attr" attid="31zoDKJdccPhTGv6">Pasión</h3><input name="data.attributes.pasion_attr.value" value="{{data.attributes.pasion_attr.value}}" type="text" class="input-min pasion_attr" attid="31zoDKJdccPhTGv6"></div><div class="flexblock-left"><h3 class=" label-medlarge boldtext" id="razon_attr" attid="4kzO9DIrXWpmRlAw">Razón</h3><input name="data.attributes.razon_attr.value" value="{{data.attributes.razon_attr.value}}" type="text" class="input-min razon_attr" attid="4kzO9DIrXWpmRlAw"></div></div></div><div class="col-2-3"><div class="panelheader">Atributos Sumados</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="astucia_osadia_sum_a" attid="jyy5PHbxgErD7y4d">+Aud</h3><input name="data.attributes.astucia_osadia_sum_a.value" value="{{data.attributes.astucia_osadia_sum_a.value}}" type="text" class="input-min input-disabled astucia_osadia_sum_a inputGM" readonly="true" attid="jyy5PHbxgErD7y4d"><h3 class=" label-small smalltext rollable" id="astucia_empatia_sum_a" attid="LuzaVu7JqdB8Xlsk">+Emp</h3><input name="data.attributes.astucia_empatia_sum_a.value" value="{{data.attributes.astucia_empatia_sum_a.value}}" type="text" class="input-min input-disabled astucia_empatia_sum_a inputGM" readonly="true" attid="LuzaVu7JqdB8Xlsk"><h3 class=" label-small smalltext rollable" id="astucia_fortaleza_sum_a" attid="b3XV6q4UqsqNZdxB">+For</h3><input name="data.attributes.astucia_fortaleza_sum_a.value" value="{{data.attributes.astucia_fortaleza_sum_a.value}}" type="text" class="input-min input-disabled astucia_fortaleza_sum_a inputGM" readonly="true" attid="b3XV6q4UqsqNZdxB"><h3 class=" label-small smalltext rollable" id="astucia_pasion_sum_a" attid="ma7rgecVi2B0ibdy">+Pas</h3><input name="data.attributes.astucia_pasion_sum_a.value" value="{{data.attributes.astucia_pasion_sum_a.value}}" type="text" class="input-min input-disabled astucia_pasion_sum_a inputGM" readonly="true" attid="ma7rgecVi2B0ibdy"><h3 class=" label-small smalltext rollable" id="astucia_razon_sum_a" attid="nuVnUnmXFcHa8j0M">+Raz</h3><input name="data.attributes.astucia_razon_sum_a.value" value="{{data.attributes.astucia_razon_sum_a.value}}" type="text" class="input-min input-disabled astucia_razon_sum_a inputGM" readonly="true" attid="nuVnUnmXFcHa8j0M"></div><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="astucia_osadia_sum2" attid="HwT8q26AZf2vj3Gp">+Ast</h3><input name="data.attributes.astucia_osadia_sum2.value" value="{{data.attributes.astucia_osadia_sum2.value}}" type="text" class="input-min input-disabled astucia_osadia_sum2 inputGM" readonly="true" attid="HwT8q26AZf2vj3Gp"><h3 class=" label-small smalltext rollable" id="empatia_osadia_sum2" attid="d8r0LN6QvDvlM8TJ">+Emp</h3><input name="data.attributes.empatia_osadia_sum2.value" value="{{data.attributes.empatia_osadia_sum2.value}}" type="text" class="input-min input-disabled empatia_osadia_sum2 inputGM" readonly="true" attid="d8r0LN6QvDvlM8TJ"><h3 class=" label-small smalltext rollable" id="fortaleza_osadia_sum2" attid="rm2TQbdfu5HtgEX4">+For</h3><input name="data.attributes.fortaleza_osadia_sum2.value" value="{{data.attributes.fortaleza_osadia_sum2.value}}" type="text" class="input-min input-disabled fortaleza_osadia_sum2 inputGM" readonly="true" attid="rm2TQbdfu5HtgEX4"><h3 class=" label-small smalltext rollable" id="pasion_osadia_sum2" attid="QeFJU9C5GeupXHLD">+Pas</h3><input name="data.attributes.pasion_osadia_sum2.value" value="{{data.attributes.pasion_osadia_sum2.value}}" type="text" class="input-min input-disabled pasion_osadia_sum2 inputGM" readonly="true" attid="QeFJU9C5GeupXHLD"><h3 class=" label-small smalltext rollable" id="razon_osadia_sum2" attid="QP2Jbmae2gi3x8nC">+Raz</h3><input name="data.attributes.razon_osadia_sum2.value" value="{{data.attributes.razon_osadia_sum2.value}}" type="text" class="input-min input-disabled razon_osadia_sum2 inputGM" readonly="true" attid="QP2Jbmae2gi3x8nC"></div><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="empatia_astucia_sum3" attid="H7gpCtEswxEWhnYH">+Ast</h3><input name="data.attributes.empatia_astucia_sum3.value" value="{{data.attributes.empatia_astucia_sum3.value}}" type="text" class="input-min input-disabled empatia_astucia_sum3 inputGM" readonly="true" attid="H7gpCtEswxEWhnYH"><h3 class=" label-small smalltext rollable" id="empatia_osadia_sum" attid="owXnDPj1CRFQDAWD">+Aud</h3><input name="data.attributes.empatia_osadia_sum.value" value="{{data.attributes.empatia_osadia_sum.value}}" type="text" class="input-min input-disabled empatia_osadia_sum inputGM" readonly="true" attid="owXnDPj1CRFQDAWD"><h3 class=" label-small smalltext rollable" id="empatia_fortaleza_sum3" attid="kVMBZ4JPppM9s2l9">+For</h3><input name="data.attributes.empatia_fortaleza_sum3.value" value="{{data.attributes.empatia_fortaleza_sum3.value}}" type="text" class="input-min input-disabled empatia_fortaleza_sum3 inputGM" readonly="true" attid="kVMBZ4JPppM9s2l9"><h3 class=" label-small smalltext rollable" id="empatia_pasion_sum3" attid="mKJTT134DaPZRkHn">+Pas</h3><input name="data.attributes.empatia_pasion_sum3.value" value="{{data.attributes.empatia_pasion_sum3.value}}" type="text" class="input-min input-disabled empatia_pasion_sum3 inputGM" readonly="true" attid="mKJTT134DaPZRkHn"><h3 class=" label-small smalltext rollable" id="empatia_razon_sum3" attid="6z4PDVyG9EbAiFx9">+Raz</h3><input name="data.attributes.empatia_razon_sum3.value" value="{{data.attributes.empatia_razon_sum3.value}}" type="text" class="input-min input-disabled empatia_razon_sum3 inputGM" readonly="true" attid="6z4PDVyG9EbAiFx9"></div><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="astucia_fortaleza_sum4" attid="Zu55PbHDXf3FTCmb">+Ast</h3><input name="data.attributes.astucia_fortaleza_sum4.value" value="{{data.attributes.astucia_fortaleza_sum4.value}}" type="text" class="input-min input-disabled astucia_fortaleza_sum4 inputGM" readonly="true" attid="Zu55PbHDXf3FTCmb"><h3 class=" label-small smalltext rollable" id="fortaleza_osadia_sum4" attid="vNNEL7TP6x7guaLB">+Aud</h3><input name="data.attributes.fortaleza_osadia_sum4.value" value="{{data.attributes.fortaleza_osadia_sum4.value}}" type="text" class="input-min input-disabled fortaleza_osadia_sum4 inputGM" readonly="true" attid="vNNEL7TP6x7guaLB"><h3 class=" label-small smalltext rollable" id="empatia_fortaleza_sum4" attid="kSvKFFIujKeNOYfU">+Emp</h3><input name="data.attributes.empatia_fortaleza_sum4.value" value="{{data.attributes.empatia_fortaleza_sum4.value}}" type="text" class="input-min input-disabled empatia_fortaleza_sum4 inputGM" readonly="true" attid="kSvKFFIujKeNOYfU"><h3 class=" label-small smalltext rollable" id="fortaleza_pasion_sum4" attid="fwIWYBXi8THZVYJ4">+Pas</h3><input name="data.attributes.fortaleza_pasion_sum4.value" value="{{data.attributes.fortaleza_pasion_sum4.value}}" type="text" class="input-min input-disabled fortaleza_pasion_sum4 inputGM" readonly="true" attid="fwIWYBXi8THZVYJ4"><h3 class=" label-small smalltext rollable" id="fortaleza_razon_sum4" attid="VJoaicYhccGHczhP">+Raz</h3><input name="data.attributes.fortaleza_razon_sum4.value" value="{{data.attributes.fortaleza_razon_sum4.value}}" type="text" class="input-min input-disabled fortaleza_razon_sum4 inputGM" readonly="true" attid="VJoaicYhccGHczhP"></div><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="astucia_pasion_sum5" attid="bQobnHNd0FUG6RnG">+Ast</h3><input name="data.attributes.astucia_pasion_sum5.value" value="{{data.attributes.astucia_pasion_sum5.value}}" type="text" class="input-min input-disabled astucia_pasion_sum5 inputGM" readonly="true" attid="bQobnHNd0FUG6RnG"><h3 class=" label-small smalltext rollable" id="pasion_osadia_sum5" attid="fct6E67wSxlYSNzb">+Aud</h3><input name="data.attributes.pasion_osadia_sum5.value" value="{{data.attributes.pasion_osadia_sum5.value}}" type="text" class="input-min input-disabled pasion_osadia_sum5 inputGM" readonly="true" attid="fct6E67wSxlYSNzb"><h3 class=" label-small smalltext rollable" id="empatia_pasion_sum5" attid="k0yGYgB02TUdKbHa">+Emp</h3><input name="data.attributes.empatia_pasion_sum5.value" value="{{data.attributes.empatia_pasion_sum5.value}}" type="text" class="input-min input-disabled empatia_pasion_sum5 inputGM" readonly="true" attid="k0yGYgB02TUdKbHa"><h3 class=" label-small smalltext rollable" id="fortaleza_pasion_sum5" attid="SmvvOZcEMfu1UfB2">+For</h3><input name="data.attributes.fortaleza_pasion_sum5.value" value="{{data.attributes.fortaleza_pasion_sum5.value}}" type="text" class="input-min input-disabled fortaleza_pasion_sum5 inputGM" readonly="true" attid="SmvvOZcEMfu1UfB2"><h3 class=" label-small smalltext rollable" id="pasion_razon_sum5" attid="KH981DZ23zRXuWcY">+Raz</h3><input name="data.attributes.pasion_razon_sum5.value" value="{{data.attributes.pasion_razon_sum5.value}}" type="text" class="input-min input-disabled pasion_razon_sum5 inputGM" readonly="true" attid="KH981DZ23zRXuWcY"></div><div class="flexblock-left"><h3 class=" label-small smalltext rollable" id="astucia_razon_sum6" attid="GYKRLOSDpXVOKKJx">+Ast</h3><input name="data.attributes.astucia_razon_sum6.value" value="{{data.attributes.astucia_razon_sum6.value}}" type="text" class="input-min input-disabled astucia_razon_sum6 inputGM" readonly="true" attid="GYKRLOSDpXVOKKJx"><h3 class=" label-small smalltext rollable" id="razon_osadia_sum6" attid="82avIEoIflN3ka57">+Aud</h3><input name="data.attributes.razon_osadia_sum6.value" value="{{data.attributes.razon_osadia_sum6.value}}" type="text" class="input-min input-disabled razon_osadia_sum6 inputGM" readonly="true" attid="82avIEoIflN3ka57"><h3 class=" label-small smalltext rollable" id="empatia_razon_sum6" attid="pm1hY4GW23SfAkzt">+Emp</h3><input name="data.attributes.empatia_razon_sum6.value" value="{{data.attributes.empatia_razon_sum6.value}}" type="text" class="input-min input-disabled empatia_razon_sum6 inputGM" readonly="true" attid="pm1hY4GW23SfAkzt"><h3 class=" label-small smalltext rollable" id="fortaleza_razon_sum6" attid="V6exXRqAmrrz97lB">+For</h3><input name="data.attributes.fortaleza_razon_sum6.value" value="{{data.attributes.fortaleza_razon_sum6.value}}" type="text" class="input-min input-disabled fortaleza_razon_sum6 inputGM" readonly="true" attid="V6exXRqAmrrz97lB"><h3 class=" label-small smalltext rollable" id="pasion_razon_sum6" attid="pdJW9ZyiOGw3if6k">+Pas</h3><input name="data.attributes.pasion_razon_sum6.value" value="{{data.attributes.pasion_razon_sum6.value}}" type="text" class="input-min input-disabled pasion_razon_sum6 inputGM" readonly="true" attid="pdJW9ZyiOGw3if6k"></div></div></div></div><div class="new-block" id="attributes_tabrow3"><div class="col-1-4"><div class="panelheader">Inercia</div><div class="new-row"><div class="flexblock-center"><div class="badge-block centertext inercia_badge" name="inercia_badge" attid="hy7rmMii2m1XYymk"><label class="boldtext">Inercia</label><div class="badge-container"><a class="badge-image"><i class="badge-click" attkey="inercia_badge" attid="hy7rmMii2m1XYymk"></i></a><a attkey="inercia_badge" attid="hy7rmMii2m1XYymk" class="badge-clickgm"><i class="fas fa-plus-circle"></i></a></div></div></div></div></div><div class="col-1-2"><div class="panelheader">Estrés y Aflicciones</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-small boldtext" id="confusion_attr" attid="PXDKsGqwypSHyMMc">Confusión</h3><input name="data.attributes.confusion_attr.value" value="{{data.attributes.confusion_attr.value}}" type="text" class="input-ahalf  confusion_attr" attid="PXDKsGqwypSHyMMc"><input type="text" class="input-bhalf input-disabled inputGM confusion_attr.max" name="data.attributes.confusion_attr.max" value="{{data.attributes.confusion_attr.max}}"><h3 class=" label-small smalltext" id="locura_attr" attid="ZFwrDg189Wm8fxlS">Locura</h3><div class="radio-input locura_attr" name="locura_attr" attid="ZFwrDg189Wm8fxlS"></div></div><div class="flexblock-left"><h3 class=" label-small boldtext" id="miedo_attr" attid="vdLGtU1z2n5EfDkj">Miedo</h3><input name="data.attributes.miedo_attr.value" value="{{data.attributes.miedo_attr.value}}" type="text" class="input-ahalf  miedo_attr" attid="vdLGtU1z2n5EfDkj"><input type="text" class="input-bhalf input-disabled inputGM miedo_attr.max" name="data.attributes.miedo_attr.max" value="{{data.attributes.miedo_attr.max}}"><h3 class=" label-small smalltext" id="trauma_attr" attid="m7kiW3ZuSqdJOaxC">Trauma</h3><div class="radio-input trauma_attr" name="trauma_attr" attid="m7kiW3ZuSqdJOaxC"></div></div><div class="flexblock-left"><h3 class=" label-small boldtext" id="lesiones_attr" attid="R73o1Ogz68bUoz5R">Lesiones</h3><input name="data.attributes.lesiones_attr.value" value="{{data.attributes.lesiones_attr.value}}" type="text" class="input-ahalf  lesiones_attr" attid="R73o1Ogz68bUoz5R"><input type="text" class="input-bhalf input-disabled inputGM lesiones_attr.max" name="data.attributes.lesiones_attr.max" value="{{data.attributes.lesiones_attr.max}}"><h3 class=" label-small smalltext" id="heridas_attr" attid="tyz9X2NFxvyFaC19">Heridas</h3><div class="radio-input heridas_attr" name="heridas_attr" attid="tyz9X2NFxvyFaC19"></div></div></div></div><div class="col-1-4"><div class="panelheader">Suerte</div><div class="new-row"><div class="flexblock-center"><div class="badge-block centertext suerte_attr" name="suerte_attr" attid="1mHIZZ5kbCEzZwaL"><label class="boldtext">Suerte</label><div class="badge-container"><a class="badge-image"><i class="badge-click" attkey="suerte_attr" attid="1mHIZZ5kbCEzZwaL"></i></a><a attkey="suerte_attr" attid="1mHIZZ5kbCEzZwaL" class="badge-clickgm"><i class="fas fa-plus-circle"></i></a></div></div></div></div></div></div><div class="new-block" id="attributes_tabrow4"><div class="col-1-1"><div class="panelheader">Dados D20</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-medlarge" id="numberofdice" attid="GVv3qaXST2rh5pyE"><div title="Dados a Tirar"><i class="fas fa-dice-d20"></i></div></h3><div class="radio-input numberofdice" name="numberofdice" attid="GVv3qaXST2rh5pyE"></div></div></div></div></div><div class="new-block" id="attributes_tabrow5"><div class="col-1-1"><div class="panelheader">Dados de Combate</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="dado_dano" attid="aixNiobpxoKJ5eEM"><div title="D. Combate"><i class="fas fa-dice-d20"></i></div></h3><div class="radio-input dado_dano" name="dado_dano" attid="aixNiobpxoKJ5eEM"></div></div></div></div></div></div></div><div class="tab scrollable conocimientos_tab_tab" id="conocimientos_tab_Def" data-group="primary" data-tab="conocimientos_tab"><div class="new-column" id="conocimientos_tabBody"><div class="new-block" id="conocimientos_tabrow5"><div class="col-1-1"><div class="panelheader">Lo que sabes</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med loquesabes_attr" name="data.attributes.loquesabes_attr.value" attid="9uvIStLNYtNAdHTU">{{data.attributes.loquesabes_attr.value}}</textarea></div></div></div></div><div class="new-block" id="conocimientos_tabrow6"><div class="col-1-1"><div class="panelheader">Lo que no sabes</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med loquenosabes_table" name="data.attributes.loquenosabes_table.value" attid="LJDP3xApyIl4w883">{{data.attributes.loquenosabes_table.value}}</textarea></div></div></div></div><div class="new-block" id="conocimientos_tabrow7"><div class="col-1-1"><div class="panelheader">Lo que puedes hacer</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med loquepuedeshacer_table" name="data.attributes.loquepuedeshacer_table.value" attid="34ULSMhWJDx1LjfL">{{data.attributes.loquepuedeshacer_table.value}}</textarea></div></div></div></div></div></div><div class="tab scrollable talentos_tab_tab" id="talentos_tab_Def" data-group="primary" data-tab="talentos_tab"><div class="new-column" id="talentos_tabBody"><div class="new-block" id="talentos_tabrow7"><div class="col-1-1"><div class="panelheader">Talentos</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-large talentos_textarea" name="data.attributes.talentos_textarea.value" attid="5IXKI0yboPr4MdIf">{{data.attributes.talentos_textarea.value}}</textarea></div></div></div></div></div></div><div class="tab scrollable equipo_tab_tab" id="equipo_tab_Def" data-group="primary" data-tab="equipo_tab"><div class="new-column" id="equipo_tabBody"><div class="new-block" id="equipo_tabrow7"><div class="col-1-3"><div class="panelheader">Equipo Básico</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med equipo_basico_attr" name="data.attributes.equipo_basico_attr.value" attid="Fj3SCknanuU8NVVl">{{data.attributes.equipo_basico_attr.value}}</textarea></div></div></div><div class="col-2-3"><div class="panelheader">Armas</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med armas_txt" name="data.attributes.armas_txt.value" attid="fKS7uSLUwomgEW48">{{data.attributes.armas_txt.value}}</textarea></div></div></div></div><div class="new-block" id="equipo_tabrow8"><div class="col-1-1"><div class="panelheader">Equipo</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-large equipo_otro_attr" name="data.attributes.equipo_otro_attr.value" attid="JLRu5xqqInzbAiCt">{{data.attributes.equipo_otro_attr.value}}</textarea></div></div></div></div></div></div></section>
</form>