@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
#logo {
    box-sizing:border-box;
    display:block;  /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
    height:50px;       /*Alto de la imagen nueva, aunque en este caso son iguales.*/
    width: 50px;
    padding-left: 50px;
    background: url(img/Logo.png);
    margin-left: 20px;
}
.app {
    max-height: 100%;
    background: url(img/redSand.png) repeat;
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
    margin: 3px 0;
    padding: 0.5em;
    color: #FFF;
    z-index: 30;
}
#sidebar {
    border: 1px solid #000;
}
#sidebar-tabs {
    flex: 0 0 32px;
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: 1px solid #000;
    box-shadow: 0 0 10px #000;
}
.tabs .item.active {
    text-shadow: 0 0 10px #000;
}
#sidebar-tabs > .item.active {
    color: #FFF;
    border: 1px solid black;
    border-bottom: none;
    box-shadow: 0 0 6px inset #000;
}
.sandbox.sheet .panelheader {
    /*background-color: #DD6B47;*/
    background: url(img/redSand.png) repeat;
    color: white; 
    padding: 3px 5px;
    /*font-family: Arial Narrow, sans-serif;*/
    font-family: 'Trade Winds', cursive;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    border: 2px outset #DD6B47;
}

.window-app .window-header .window-title {
    margin: 0;
    word-break: break-all;
    font-family: 'Trade Winds', cursive;
    font-variant-caps: petite-caps;
    font-size: 18px;
    text-shadow: 1px 1px black;
}
#combat #combat-round .encounters a {
    font-size: 16px;
    flex: 0 0 32px;
    color: #fff; 
}
#combat #combat-round .encounters h4 {
    flex: 1;
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
li.folder > .folder-header {
    padding: 6px;
    line-height: 24px;
    background: rgba(255, 0, 0, 0.2);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
li.folder > .folder-header .create-folder, li.folder > .folder-header .create-entity {
    flex: 0 0 20px;
    text-align: center;
    color: #FFF; 
    font-size: 14px;
}
#playlists li.playlist .sound-control {
    flex: 0 0 18px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
}
#playlists li.playlist .sound-control.inactive {
    color: #C6c6c6;
}
#playlists li.playlist .playlist-header .playlist-name i.fa {
    color: #fff;
    margin-left: 5px;
}
#playlists li.playlist .playlist-header .playlist-controls {
    flex: 0 0 120px;
    justify-content: flex-end;
}
.window-app.minimized .window-header {
    border:none; 
}
.sidebar-tab .directory-list .directory-item h3, .sidebar-tab .directory-list .directory-item h4 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}
a:hover {
    text-shadow: 2px 2px 8px black;
}
button {
    width: 100%;
    margin: 0 1px;
    background: #FFF;
    border: 2px outset #000;
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    font-family: "Signika", sans-serif;
}
button:hover {
    box-shadow: 0 0 5px black;
    background: #CFCFCF;
}
.sandbox.sheet a.badge-image {
    background: url(img/badge.png) no-repeat bottom center;
    background-size: 40px;
    height: 40px;
    width: 40px;
    display: block;
}